.newPost {
    background-color: rgba(34, 51, 59, 1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgba(234, 224, 213, 1);
}

.newPostHead {
    font-size: 25px;
}